/* API indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
}

/* Allow tables to be horizontally scrollable. */
.md-typeset__scrollwrap {
  overflow-x: auto;
}