pam.egg-info/
.DS_Store
.cache/
.idea/
.ipynb_checkpoints/
.pytest_cache/
data/
example_data/.DS_Store
https_github.com_fredshone.egg-info/
pam/__pycache__/
parser.ipynb
prelim-data-validation.ipynb
scratch/
tests/.DS_Store
tests/__pycache__/
tests/test_data/.DS_Store
