<html>
    <head>
        <link rel="stylesheet" href="perf-report.css">
        <title>Performance Report</title>
    </head>

    <body>
        <h1 style="text-align:center">Performance Report</h1>
        {% set runtime_diff = running_time - benchmark_running_time %}
        {% set mem_diff = max_mem - benchmark_max_mem %}

        <h2>Summary</h2>
        <table class="pure-table" style="width: 90%">
            <thead>
            <tr>
                <th></th>
                <th>Profiled Run</th>
                <th>Benchmark</th>
                <th>Trend</th>
                <th>Tolerance</th>
                <th>Result</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th scope="row" style="text-align:left;background-color: #e0e0e0;">Running Time (s)</th>
                <td>{{ running_time }}</td>
                <td>{{ benchmark_running_time }}</td>
                <td>{{ "%.2f"|format(runtime_diff) }}</td>
                <td>{{ run_time_tolerance }}</td>
                <td>
                    <strong>{% if runtime_diff <= run_time_tolerance %}PASS{% else %}FAIL{% endif %}</strong>
                </td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left;background-color: #e0e0e0;">Max Memory (MB)</th>
                <td>{{ max_mem }}</td>
                <td>{{ benchmark_max_mem }}</td>
                <td>{{ "%.2f"|format(mem_diff) }}</td>
                <td>{{ mem_tolerance }}</td>
                <td>
                    <strong>{% if mem_diff <= mem_tolerance %}PASS{% else %}FAIL{% endif %}</strong>
                </td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left;background-color: #e0e0e0;">Command</th>
                <td style="font-family: Courier, monospace;">{{ command }}</td>
                <td style="font-family: Courier, monospace;">{{ benchmark_command }}</td>
                <td style="text-align:left;background-color: #e0e0e0;"></td>
                <td style="text-align:left;background-color: #e0e0e0;"></td>
                <td style="text-align:left;background-color: #e0e0e0;"></td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left;background-color: #e0e0e0;">Profile File</th>
                <td> <a href="{{ profile_file }}" target="_blank">{{ profile_file }}</a></td>
                <td> <a href="{{ benchmark_profile_file }}" target="_blank">{{ benchmark_profile_file }}</a></td>
                <td style="text-align:left;background-color: #e0e0e0;"></td>
                <td style="text-align:left;background-color: #e0e0e0;"></td>
                <td style="text-align:left;background-color: #e0e0e0;"></td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left;background-color: #e0e0e0;">Profile Plot</th>
                <td> <a href="{{ profile_plot }}" target="_blank">{{ profile_plot }}</a></td>
                <td> <a href="{{ benchmark_profile_plot }}" target="_blank">{{ benchmark_profile_plot }}</a></td>
                <td style="text-align:left;background-color: #e0e0e0;"></td>
                <td style="text-align:left;background-color: #e0e0e0;"></td>
                <td style="text-align:left;background-color: #e0e0e0;"></td>
            </tr>
            </tbody>
        </table>

        <h2>Profiled Run Plot</h2>
        <img src="{{ profile_plot }}">

        <h2>Benchmark Plot</h2>
        <img src="{{ benchmark_profile_plot }}">
    </body>

</html>